{% extends "mf_base.html" %}

{% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page_title }}</title>

	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/flot/excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.crosshair.js"></script>
	<script type="text/javascript">

	function percentFormatter(v, axis) {
		return v.toFixed(axis.tickDecimals) + "%";
	}
	
	function currencyFormatter(val, axis) {
		return (val/1000).toFixed(axis.tickDecimals) + "k";
	}
	
	function yenFormatter(val, axis) {
		return val.toFixed(axis.tickDecimals) + "¥";
	}
	
	
	$(function() {


		var plot = $.plot("#placeholder", [
			{{ plot.data | safe }}
		], {
			xaxes: [ 
					{ mode: "time",} 
					],
			yaxes: [ 
					{ position: "left", 
					  tickFormatter: currencyFormatter,
					  min: 80000,
					  max: 1000000,
					},
					{ position: "right", 
					  tickFormatter: yenFormatter,
					},
					{ position: "left", 
					  tickFormatter: percentFormatter,
					  min: -10,
					  max: 10,
					},
					{ position: "right", },
					],
			legend: { position: "sw" },
		});

	});

	</script>
{% endblock %}

{% block content %}

	<div id="header">
		<h2>{{ fund_title }} <br/> ({{ fund_id }}) </h2>
	</div>

	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>

	<div id="footer">
		Developed by lee.shiueh@gmail.com
	</div>
	
{% endblock %}
