/*
body {
	text-align: center;
}
*/

#page {
	width: 960px;
	text-align: left;
	margin: 10px auto 20px auto;
	background-color: #0c0c0c;
}

#sidebar {
	float:left;
	width: 200px;
	/*border: 1px solid #000;*/
}

#content {
	float: left;
	/*width: 600px;*/
	/*border: 1px solid #f00;*/
	padding: 10px;
}
			
.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legendLabel {
	text-align: left;
}

/*
label, input {
	float: left;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	width: 100%;
}

.helptext {
	float: left;
	width: 100%
}

.clearfix {
	clear: both;
}

.messages {
	background-color: #c0c0c0;
	color: #fff;
}

.success {
	background-color: #008800;
	border-color: #005500;
}

.deleted {
	background-color: #880000;
	border-color: #550000;
}
*/