{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{{ tpl_title|default:"Philcops" }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/dashboard.css" %}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#philcops-navbar-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ tpl_project_name|default:"Philcops" }}</a>
        </div>
        <div class="navbar-collapse collapse" id="philcops-navbar-menu">
          <ul class="nav navbar-nav navbar-right">
          	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			{% trans "MENU_MY_INVEST"|default:"MENU_MY_INVEST" %}
          		</a>
          		<ul class="dropdown-menu" role="menu">
            		<li><a href="/mf/fund_jpy/">{% trans "MENU_MY_JPY_FUND"|default:"MENU_MY_JPY_FUND" %}</a></li>
		            <li><a href="#">{% trans "MENU_MY_JPY_TRADE_ADD"|default:"MENU_MY_JPY_TRADE_ADD" %}</a></li>
		            <li><a href="#">{% trans "MENU_MY_GOLD"|default:"MENU_MY_GOLD" %}</a></li>
		            <li><a href="#">{% trans "MENU_MY_GOLD_TRADE_ADD"|default:"MENU_MY_GOLD_TRADE_ADD" %}</a></li>
			    </ul>
          	</li>
          	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			{% trans "MENU_CURRENCY"|default:"MENU_CURRENCY" %}
          		</a>
          		<ul class="dropdown-menu" role="menu">
		            <li><a href="#">{% trans "MENU_BIS_EER"|default:"MENU_BIS_EER" %}</a></li>
		            <li><a href="#">{% trans "MENU_EXCHANGE_CN_TW"|default:"MENU_EXCHANGE_CN_TW" %}</a></li>
		            <li><a href="#">{% trans "MENU_EXCHANGE_USD_TWN"|default:"MENU_EXCHANGE_USD_TWN" %}</a></li>
		            <li><a href="#">{% trans "MENU_EXCHANGE_JPY_TWN"|default:"MENU_EXCHANGE_JPY_TWN" %}</a></li>
          		</ul>
          	</li>
          	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			{% trans "MENU_FUNDCLEAR"|default:"MENU_FUNDCLEAR" %}
          		</a>
          		<ul class="dropdown-menu" role="menu">
		            <li><a href="/mf/jpy_compare/">{% trans "MENU_JPY_NAV"|default:"MENU_JPY_NAV" %}</a></li>
		            <li><a href="/mf/jpy_yoy_compare/">{% trans "MENU_JPY_YOY"|default:"MENU_JPY_YOY" %}</a></li>
		            <li><a href="/mf/fund_review/">{% trans "MENU_FUND_REVIEW"|default:"MENU_FUND_REVIEW" %}</a></li>
		            <li><a href="#">{% trans "MENU_FUNDCODE_REVIEW"|default:"MENU_FUNDCODE_REVIEW" %}</a></li>
          		</ul>
          	</li>
          	<!--  
          	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			{% trans "MENU_GOLD"|default:"MENU_GOLD" %}
          		</a>
          		<ul class="dropdown-menu" role="menu">
		            <li><a href="#">{% trans "MENU_MY_GOLD"|default:"MENU_MY_GOLD" %}</a></li>
          		</ul>
          	</li>
          	-->
          	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          			{% trans "MENU FUND CHINA" %}
          		</a>
          		<ul class="dropdown-menu" role="menu">
		            <li><a href="#">{% trans "MENU_MY_CHINA_FUND"|default:"MENU_MY_CHINA_FUND" %}</a></li>
          		</ul>
          	</li>

          </ul>
          <!--  
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          -->
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="main">
          <h1 class="page-header">{{ tpl_img_header|default:"tpl_img_header" }}</h1>
          <div class="row placeholders">
            <div class="placeholder">
          	{% block tpl_img_holder %}
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            {% endblock %}
            </div>
          </div>

          <h2 class="sub-header">{{ tpl_section_title|default:"tpl_section_title" }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
            {% block tpl_section_table_content %}
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
              </tbody>
            {% endblock %}
            </table>
          </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block tpl_script %}
    {% endblock %}
  </body>
</html>
