{% extends "dashboard.tpl.html" %}
{% load static %}

{% block tpl_img_holder %}
	<div class="demo-container">
		<div id="placeholder" class="demo-placeholder"></div>
	</div>
	{{ tpl_img_footer_html | safe }}
{% endblock %}

{% block tpl_section_table_content %}
    <thead>
      <tr>
	  {% for column_name in tbl_content.heads %}
        <th>{{ column_name }}</th>
	  {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for content_row in tbl_content.rows %}
      <tr>
      {% for content_col in content_row %}
        <td>{{ content_col }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
{% endblock %}

{% block tpl_script %}
	<link rel="stylesheet" type="text/css" href="{% static "css/default.css" %}" />
	
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/flot/excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.crosshair.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.resize.js"></script>

	<script type="text/javascript">
		$(function() {
	
	
			var plot = $.plot("#placeholder", [
				{{ plot.data | safe }}
			], {
				xaxes: [ 
						{ mode: "time",} 
						],
				legend: { position: "sw" },
			});
	
		});

	</script>
{% endblock %}
	